.main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.479),rgba(0, 0, 0, 0.463)), url("../../Assets/Background-image.jpg");
    background-size: cover;

    



}
/* .back-img{
    position: fixed;
    height: 100vh;
    width:100vw;
    z-index: -1;
    object-fit: cover;
} */

.main-container{
    /* background-color: rgba(255, 255, 255, 0.105); */
    display: flex;
    /* height:100%; */
    width: 95.5%;
    
}

.form-cont{
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:20px;
    width:60%;
    /* box-shadow: inset 0px 0px 200px 200px var(--logoColor), 0px 0px 50px 50px var(--logoColor); */

    
}
.login{
    display: flex;
    padding-left:85px;
    
}


.login-heading{
    font-size:25px;
    font-weight: 700;
    font-family: sans-serif;
    color:black;

}
form{
    height:200px;
    /* width:100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.one{
    display: flex;
    justify-content: center;
    gap:10px;
}
.three{
  display: flex;
  justify-content: space-evenly;
  height: 35px;
  
  
}



.icons{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
}
.icons-2{
    height: 24px;
    width: 23px;
    display: flex;
    align-items: center;
}
.icon-cont{
    display: flex;
    align-items: center;
}

.input-tags{    
    height: 35px;
    width:70%;
    border:none;
    /* background-color:ghostwhite; */
    outline: none;
    border-radius: 20px;
    border: 1px solid rgb(218 222 239);
    box-shadow: 0px 0px 60px -4px rgb(196 207 255);
    padding-left: 15px;
}
label{
    font-size: 15px;
    color:var(--logoColor);
    
    
}
.check-and-rme{
    display: flex;
    align-items: center;
    gap:5px;
    
}
.button-cont{
    display: flex;
    justify-content: center; 
    cursor: pointer;
    height: 45px;

}
.signup-button{
  color:rgb(255, 255, 255); 
  font-size: 15px; ;
  border: none;
  padding: 10px;
  border-radius: 30px;
  background-color:var(--logoColor); 
  font-weight:600;
}
.signup-button:hover{
    /* font-weight: 800; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 12px;
    /* text-decoration: underline; */
    /* box-shadow:  0px 1px 15px 0px #004fffa6; */
}

::placeholder{
    color:rgb(211, 205, 205);
    
}



/* ----------------------------------------------------------------------------- */
.image-cont{
    /* background-color: rgba(84, 84, 84, 0.047); */
    height: 100%;
    width:40%;
    /* box-shadow: inset 1px 0px 200px 200px var(--logoColor), 0px 0px 50px 50px var(--logoColor); */
    /* border-radius: 0px 60px 60px 0px; */
}
.imgs{
 
    height: 100%;
    width:100%;
}
.image{
    padding:10px;

}
.image-text{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 600;
    color:black;
    padding-left: 30px;
    padding-bottom: 30px;
}

.forgot-text{
    color:var(--logoColor);
}

@media screen and (max-width: 380px){
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login{
        padding:0px;
    }
    .image-text{
        font-size:20px;
    }
  .form-cont{
    width: none;
  }
  .three{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }


}

.button-signIn-cont{
    position: fixed;
    top: 10px;
}

