.status-bar{
    height: 100%;
    width: 100%;
}
.status-heading{
    display: flex;
    justify-content: center;
}
.task-container{
    height: 83vh;
    background-color: var(--secondary);
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    
   
}
.task-container-add{
    display: flex;
    align-items: center;
    min-width: 160px;
    justify-content: center; 
}

/* inserted div cont css */
.task{
    background-color: var(--primary);
    min-width: 155px;
    min-height: 50px;
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: xx-large;
    font-family: cursive;
    cursor: pointer;
}
.task:hover{
    box-shadow: 0px 0px 3px 0px var(--logoColor);
}
.task-description{
    font-size: 20px;
}
.subtask-count{
    font-size: 10px;
}
.task-data{
    display: flex;
    justify-content: space-around;
}
.task-number{}

/* inserted div cont css ends */
.plus-sign-img{
    height: 50px;
    width: 50px;
    transition: 0.4s;
    
}
.plus-sign-img:hover{
    height: 60px;
    width: 60px;
}