.board-container{
   height: 100vh;
   width: 100%;
           
}
.active-board-and-add-task-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 50px;
}
.current-board-heading{
    
}
.add-task-btn{
    
}
.status-bar-container{
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    
}
.status-bar{
    height: 100%;
    width: 100%;
}
.status-heading{
    display: flex;
    justify-content: center;
}
.task-container{
    height: 83vh;
    background-color: var(--secondary);
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    
   
}
.task-container-add{
    display: flex;
    align-items: center;
    
    justify-content: center; 
}

/* inserted div cont css */
.task{
    background-color: var(--primary);
    min-width: 155px;
    min-height: 50px;
    border-radius: 8px;
    padding: 5px;
}
.task-description{}
.task-data{
    display: flex;
    justify-content: space-around;
}
.task-number{}

/* inserted div cont css ends */
.plus-sign-img{
    height: 50px;
    width: 50px;
    transition: 0.4s;
    
}
.plus-sign-img:hover{
    height: 60px;
    width: 60px;
}