.subtask-cont{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 90%;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary);
}

.subtask-details{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    
    
}

.subtask-img-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}
.subtask-img-cont{
    /* display: flex;
    align-items: center; */
}
.subtask-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    object-fit: cover;
    background-color:var(--primary);
    border-radius: 20px;
    padding: 4px;
   
    box-shadow: inset 0px 0px 5px 0px;
    /* filter: invert(1); */
}
.subtask-img:hover{
    box-shadow:1px 2px 3px 1px;

}
.subtask-status{
    font-size: 0.6rem;
    font-weight: 300;
    padding: 3px;
    border-radius: 5px;

}

/* .subtask-status:hover{
    box-shadow:1px 2px 3px 1px;
} */