.taskdetails-main-cont{
    padding:4rem;
}

.task-details-one{
    display: flex;
    flex-direction: column;
    gap:4rem;
    

}

.task-details-heading-one{
   
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
}
.TASK-heading{
    font-size : 3rem;
    font-weight: 600;
    color:var(--logoColor);
}


.task-details-button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

}
.details-wrapper-one{
    display: flex;
    gap:3rem;
    height: 50vh;
    width: 70vw;
    
}
.main-task-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3rem;
    background-color:var(--secondary);
    height:100%;
    width:40vw;
    min-width:310px;
    border-radius: 1rem;
    padding: 1rem;



}
.sub-task-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 1.3rem;
    background-color:var(--secondary);
    height:100%;
    width:40vw;
    min-width:310px;
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 800;
    color:rgb(109, 103, 103);
}

.main-task-headings-cont{
    display: flex; 
    

    gap:0.62rem;
    color:rgb(109, 103, 103);

}

.descriptiontask{
    display: flex;
    flex-direction: column;
    gap:0.62rem;
    color: rgb(109, 103, 103);
}

.task-heading{
    font-weight: 800;
    
}
.task-content-cont{
    font-size:1.2rem ;
}
.subtask-content{
    display:flex ;
    flex-direction: column;
    gap:10px;
    overflow: overlay;
}


@media screen and (max-width: 1008px){
    .task-details-heading-one{
        width:720px;
    }
}
    
@media screen and (max-width: 1205px){
    .task-details-heading-one{
        /* width:900px; */
    }
}










