.sideBar-menu{
    height: 100vh;
    width: 250px;
    /* position: fixed; */
    /* z-index: 1; */
    background-color: var(--secondary);
    /* overflow-x: hidden; */
    transition: 0.8s;
    color:var(--textcolor);
    
    
    

}
.logo-and-name-cont{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    background-color: var(--primary);
    
}
.logo-cont{
   padding: 10px;
    
}
.jira-logo{
  /* display:inline-block;  */
  height: 26px;
  width:26px;
  
    
    
}
.name-cont{
    
    
}
/* --------------------------------------------------------------- */
.tab-and-hidebar-cont{
    height: 90%;
    /* height: 92%; */
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* background-color: purple; */
}
.tab-add-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.Tabs-cont{
    max-height:530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;


}
.tabs{
    font-size:16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.add-tab-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height:70px;
    


}
.primary-btn{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.primary-btn:hover{
    padding:12px;
}
.primary-btn-right-arrow{
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    


/* ------------------------------------------------------------------------------ */
.hidebar-cont{
    
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:10px;
}

.board-logo{
    height: 20px;
    width: 20px;
    padding: 5px;
}
.active-tab-name{
    display: block;
}
.inactive-tab-name{
    display: none;
}

.arrow{
    height: 25px;
    width: 25px;
    padding: 5px;
}
.tooltiptext {
    width: 120px;
    background-color:var(--logoColor);
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    z-index: 1;
    color: white;
    left: 60px;
    visibility: hidden;
}
.primary-btn-right-arrow:hover .tooltiptext {
    visibility: visible;
}

.add-tool-text{
    width: 120px;
    background-color:var(--logoColor);
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    z-index: 1;
    color: white;
    left: 60px;
    visibility: hidden;   
}
.primary-btn:hover .add-tool-text{
    visibility: visible;
}
/* ------------------------------------------------------ */
.board-tooltext{
    width: 120px;
    background-color:var(--logoColor);
    text-align: center;
    border-radius: 6px;
    padding: 9px;
    position: absolute;
    /* z-index: 1; */
    left:50px;
    color: white;
    display: none;
}
.tooltext-board{
    display: flex;
    justify-content: center;
    position: relative;
    /* padding-left: 50px; */



}


.tooltext-board:hover .board-tooltext{
    display: block;
}

/* ------------------------------------------------------- */