:root{
 
    --primary: rgb(195 240 255);
    --secondary: rgb(244 248 249);
    --textcolor: black;
    --logoColor:#126AE5;
}


*{
    margin:0;
    padding:0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--secondary); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--primary); 
     border-radius:10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(140 223 251);

  }
  button:hover{
    cursor: pointer;
  }
  .primary-btn{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.primary-btn:hover{
    /* padding:15px; */
}
.danger-btn{
  font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(245, 134, 100);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.danger-btn:hover{
  /* padding:15px; */
}

input{
  height: 40px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 12px 0px #0d9dcd75;
  width: 93%;
  margin: 20px 0px;
  padding: 0px 10px;
}
input:focus-visible {
  outline: none ;
  box-shadow: 0px 0px 12px 2px #126ae57d;
}